.content-tittle {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1719;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-lists {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.work-item {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.content {
    width: 100%;
    margin: 0 auto;
    background-color: var(--second-btn-color);
}

.content-tittle {
    color: var(--second-text-color);
}

.work-item__overlay {
    position: relative;
}

.work-item-comment {
    display: flex;
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
}

.work-item-text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}