.about {
    width: 100%;
    margin: 0 auto;
    background-color: var(--second-bg-color);
}

.about__tittle {
    margin-bottom: 50px;
    color: var(--second-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1785;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1719;
    }
}

.about__list {
    display: block;
    list-style: none;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        gap: 30px;
    }
}

.about__item {
    display: flex;
    justify-content: space-between;
    text-align: center;

    @media screen and (max-width: 767px) {

        &:nth-last-child(n + 2) {
            margin-bottom: 30px;
        }
       
    }

    @media screen and (min-width: 768px) 
    and (max-width: 1200px) {

        &:nth-last-child(n + 3) {
            margin-bottom: 30px; 
        }
    }
    
        @media screen and (min-width: 1200px) {
            margin-bottom: 0; 
        }
}

.about__overlay {
    background-color: var(--second-btn-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.about__box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.about__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1718;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-bottom: 10px;
}

.about__position {
    margin-bottom: 16px;
}