.about {
    width: 100%;
    margin: 0 auto;
    background-color: var(--second-bg-color);
}

.about__tittle {
    margin-bottom: 50px;
    color: var(--second-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1719;
    text-align: center;
    letter-spacing: 0.03em;
}

.about__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.about__item {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.about__overlay {
    background-color: var(--second-btn-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.about__box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.about__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1718;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.about__position {
    margin-top: 10px;
}