.button {
    cursor: pointer;
    color: var(--second-btn-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border-color: transparent;
}

.button--hero-btn {
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--second-btn-color);
    background-color: var(--accent-color);
    border-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: block;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color var(--tran-dur-and-tim-fun), box-shadow var(--tran-dur-and-tim-fun);

    &:hover, &:focus {
        background-color: var(--second-bt-bg);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
}
}

.button--filter-btn {
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    color: var(--second-text-color);
    background-color: var(--second-bg-color);
    border-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    transition: background-color var(--tran-dur-and-tim-fun), box-shadow var(--tran-dur-and-tim-fun);

    &:hover, &:focus {
        color: var(--second-btn-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.button--footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-radius: 4px;

    cursor: pointer;
    color: var(--second-btn-color);
    background-color: var(--accent-color);
    border-color: transparent;
    gap: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.06em;
    transition: background-color var(--tran-dur-and-tim-fun), box-shadow var(--tran-dur-and-tim-fun);

    &:hover, &:focus {
        background-color: var(--second-bt-bg);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    }
}

.button-wraper {
    width: 100%;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1200px) {
        width: 200px;
    }
}

.button-icon {
    fill: currentColor;
}
