.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--head-footter-bgc);
}

.container--flex {
    text-align: center;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 0 auto;
        text-align: left;
    }
}

.adress-thumb {
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        width: 231px;
        margin-right: 70px;
        text-align: left;
        margin-bottom: 0px;
    }
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo-web {
    color: var(--accent-color);

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
}

.logo-alter {
    color: var(--second-btn-color);

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
}

.adress-list {
    list-style: none;
}

.adress-list__item {
    display: block;

    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.adress-list__link {
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1721;
    letter-spacing: 0.02em;
    transition: color var(--tran-dur-and-tim-fun);

    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.adress-list__map-link {
    text-decoration: none;
    color: var(--second-btn-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    transition: color var(--tran-dur-and-tim-fun);

    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.joined-thumb {
    margin-bottom: 99px;

    @media screen and (max-width: 768px) {
        margin-bottom: 60px;
    }

}

.joined-tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.social-list__link--color {
    background-color: var(--footer-link-bg-color);
    color: var(--second-btn-color);
}

.social-list__icon--white {
    color: var(--second-btn-color);
}

.subscribe-thumb {


    & input {
        width: 100%;
        max-width: 450px;
        height: 50px;
        padding: 15px 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: var(--footer-background-color);
        color: var(--mail-tel-color);
        font-size: 16px;
        line-height: 1.15;

        @media screen and (min-width: 1200px) {
            width: 358px;
        }
    }

    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 569px;
        margin-left: 93px;
    }

}

.subscribe-tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-btn-color);
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-top: 0px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 0px;
    }
}

.subscribe-form {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 12px;
    }

}

.subscribe-form__label {
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0px;    
    }
}
