.logo {
    display: flex;
    text-decoration: none;
    color: inherit;

    @media screen and (min-width: 768px) {
       margin-right: 88px;
    }

    &__text-web {
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
        color: var(--accent-color);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1666;
        letter-spacing: 0.03em;

        @media screen and (min-width: 1200px) {
            font-weight: 700;
            font-size: 26px;
            line-height: 1.1920;
        }
    }

    &__text-studio {
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
        color: var(--logo-black-color);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1666;
        letter-spacing: 0.03em;

        @media screen and (min-width: 1200px) {
            font-weight: 700;
            font-size: 26px;
            line-height: 1.1920;
        }    
    }
}

.footer-logo {
    margin-bottom: 20px;

    &__text-web {
        color: var(--accent-color);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.1923;
        letter-spacing: 0.03em;
    }
    
    &__text-studio {
        color: var(--second-btn-color);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.1923;
        letter-spacing: 0.03em;
    }
}

