.header_burger--menu {
    width: 40px;
    height: 40px;
    background-color: var(--second-btn-color);
    display: flex;
    align-items: center;
    margin-left: auto;
    border-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }

    // @media screen and (min-width: 1200px) {}
}

.menu-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 480px;
    height: 796px;
    margin: 15px;
    background-color: var(--second-btn-color);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: opacity var(--tran-dur-and-tim-fun),
        visibility var(--tran-dur-and-tim-fun);
    outline: 1px solid red;

    // @media screen and (min-width: 768px) {
    //     display: none;
    // }

    &.is-open {

        transform: translateX(0);

        @media screen and (max-width: 767px) {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    }
}

.nav__list--mobile-menu {
    display: flex;
    flex-direction: column;
}

.nav__item--mobile-menu {
    padding: 0;
}

.menu-container {
    display: flex;
    text-align: right;
}

.mobile-social {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.mobile-social__item {
    display: block;
    padding: 0 10px;
    margin-top: 15px;

    &:not(:last-child) {

        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.mobile-social__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: var(--accent-color);
}

// _____________________________________________
.menu-toggle {
    display: flex;
    justify-content: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}