.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    overflow: hidden;
    background-color: rgba(14, 13, 13, 0.8);
    transition: opacity var(--tran-dur-and-tim-fun), visibilyty var(--tran-dur-and-tim-fun);
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    width: 98%;
    min-height: 609px;
    padding: 40px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--tran-dur-and-tim-fun);

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}

.modal-tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

    color: var(--second-text-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-input {
    display: block;
    text-align: left;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    cursor: pointer;
    margin-bottom: 10px;
}

.form-input__wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
    width: 100%;
}

.form-input__field {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 12px 12px 42px;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    outline: none;
    transition: border-color var(--tran-dur-and-tim-fun);

    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
    
    &:focus+.form-input__icon {
        fill: var(--accent-color);
    }
}

.form-input__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--second-text-color);
    transition: fill var(--tran-dur-and-tim-fun);
}

.form-textarea {
    display: block;
    text-align: left;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    cursor: pointer;
    margin-bottom: 20px;
}

.form-textarea__field {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    outline: none;
    transition: border-color var(--tran-dur-and-tim-fun);

    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.user-policy-checkbox__input:checked+label .user-policy-checkbox__frame {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.user-policy-checkbox__desc {
    display: inline-block;
    position: relative;
    margin: 0 auto 30px;
    padding-left: 23px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.7142;
    }
}

.user-policy-checkbox__frame {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 16px;
    height: 15px;
    padding-top: 1px;
    border: 2px solid var(--second-text-color);
    border-radius: 2px;
    background-color: var(--primary-background-color);
    cursor: pointer;
    outline: none;
    transition: border-color var(--tran-dur-and-tim-fun), background-color var(--tran-dur-and-tim-fun);

    &:hover {
        border-color: var(--accent-color);
    }
}

.user-policy-checkbox__icon {
    fill: var(--second-btn-color);
}

.user-policy-checkbox__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: var(--accent-color);

}

.modal-button-send {
    margin: auto auto;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 10px 32px;
    width: 200px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);

    font-family: inherit;
    color: var(--second-btn-color);
    cursor: pointer;
    transition: background-color var(--tran-dur-and-tim-fun), box-shadow var(--tran-dur-and-tim-fun);

    &:hover, &:focus {
        background-color: var(--second-bt-bg);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.btn-modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    cursor: pointer;

    &:hover .modal-close-icon, &:focus-within .modal-close-icon {
        fill: var(--accent-color);
    }
}

// .btn-modal-close:hover .modal-close-icon,
// .btn-modal-close:focus-within .modal-close-icon {
//     fill: var(--accent-color);
// }

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--tran-dur-and-tim-fun);
}

.backdrop.is-hidden .modal {
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.8);
    transition: transform var(--tran-dur-and-tim-fun), visibility var(--tran-dur-and-tim-fun);
}