.section {
    padding: 60px  0 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0 94px 0;
    }
}

.section--padding-top {
    padding: 60px 0 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0 94px 0;
    }

}

.section--no-padding {
    padding: 0 0 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 0 0 94px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 94px 0 94px 0;
    }
}

.section_about-work {
    display: none;
    padding: 0 0 60px 0;


    @media screen and (min-width: 1200px) {
        display: block;
        padding: 0 0 94px 0;
    }
}