.social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 16px;
}

.social-list__link {
    display: flex;
    margin-right: 10px;
    color: var(--icon-prymary-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color var(--tran-dur-and-tim-fun);

    &:hover, &:focus {
        color: var(--second-btn-color);
        background-color: var(--accent-color);
    }
}

.social-list__icon {
    fill: currentColor;
}